<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.perspectives">
   <perspective
         name="%perspective.name"
         class="gcad.perspective.KMPerspective"
         id="gcad.perspective.KMPerspective">
   </perspective>
</extension>

</plugin>
