<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.perspectives">
   <perspective
         name="%perspective.name"
         class="gcad.perspective.KMPerspective"
         id="gcad.perspective.KMPerspective">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         id="gcad.category.view.userInformation"
         name="%category.view.user">
   </category>
   <view
         category="gcad.category.view.userInformation"
         class="gcad.views.UserInfView"
         id="gcad.view.UserInformation"
         name="%view.user"
         restorable="true">
   </view>
   <category
         id="gcad.category.view.proposal"
         name="%category.view.proposals">
   </category>
   <view
         category="gcad.category.view.proposal"
         class="gcad.views.ProposalView"
         id="gcad.view.proposals"
         name="%view.proposals"
         restorable="true">
   </view>
</extension>
<extension
      point="org.eclipse.ui.startup">
   <startup
         class="gcad.startup.Startup">
   </startup>
</extension>
<extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.menu.knowledge"
            id="gcad.category.menu.knowledge">
      </category>
      <command
            name="%command.newProposal"
            categoryId="gcad.category.menu.knowledge"
            id="gcad.command.newProposal">
      </command>
</extension>
   
<extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="gcad.command.newProposal"
            class="gcad.handlers.newProposalHandler">
      </handler>
</extension>
     
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="%category.menu.knowledge"
               id="gcad.menus.knowledgeMenu">
            <command
                  commandId="gcad.command.newProposal"
                  id="gcad.menus.newProposal">
            </command>
         </menu>
     </menuContribution>
</extension>   
</plugin>
