<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.perspectives">
   <perspective
         name="%perspective.name"
         class="gcad.perspectives.KMPerspective"
         id="gcad.perspective.KMPerspective">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         id="gcad.category.view.userInfromation"
         name="%category.view.user">
   </category>
   <view
         category="gcad.category.view.userInfromation"
         class="gcad.views.UserInfView"
         id="gcad.view.UserInformation"
         name="%view.user"
         restorable="true">
   </view>
   <category
         id="gcad.category.view.proposal"
         name="%category.view.issues">
   </category>
   <view
         category="gcad.category.view.proposal"
         class="gcad.views.ProposalView"
         id="gcad.view.issues"
         name="%view.issues"
         restorable="true">
   </view>
</extension>


</plugin>
